@import 'fonts';
@import 'header';
@import 'footer';
@import 'main';

main {
    min-height: 100%;
    max-width: 80%;
}

.cat-container
{
    width: 1000px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat( 4, 1fr);
    grid-gap: 1em;
    border-style: groove;
    border-color: #9D0208;
    border-width: 10px;

}

.cat-title
{
    grid-column: 1 / -1 ;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #B9CEDA;

}

.cat-title:hover
{
    color:#4A4E69;
    
}
    

.cat-btn
{
    width: 150px;
    font-size: 30px;
    text-align: center;
    color: #B9CEDA;
    background-color: #22223B;
    border-style: groove;
    border-color: #9D0208;
    border-width: 5px;
}

.cat-btn:hover
{
    cursor: pointer;
    border-style: none;
    animation: neon 1s ease-in-out infinite alternate;
}

@keyframes neon
{
    from 
    {
      text-shadow: 0 0 10px #9D0208, 0 0 20px #9D0208, 0 0 30px #9D0208, 0 0 40px #9D0208, 0 0 50px #9D0208, 0 0 60px #9D0208, 0 0 70px #4A4E69;
    }
    
    to 
    {
      text-shadow: 0 0 20px #9D0208, 0 0 30px #9D0208, 0 0 40px #9D0208, 0 0 50px #9D0208, 0 0 60px #9D0208, 0 0 70px #9D0208, 0 0 80px #bb3c40;
    }
}
.cat-btn-one
{
    grid-column: 2 / span 2;
    grid-row: 3;
}

.cat-btn-two
{
    grid-column: 4 / span 2;
    grid-row: 3;
}

.cat-btn-three
{
    grid-column: 6 / span 2;
    grid-row: 3;
}

.cat-btn-four
{
    grid-column: 8 / span 2;
    grid-row: 3;
}

.cat-btn-five
{
    grid-column: 10 / span 2;
    grid-row: 3;
}

/* color palette 
#22223B background
#B9CEDA text
#9D0208 red
#4A4E69 dark text  */
